.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
  }

  .box{
    border: 1px solid #c4acac;
    background-color: #fff;
    
    margin: 150px 300px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .register-form__heading {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
  }
  
  .form__group {
    margin-bottom: 5px;
  }
  
  .form__group-title {
    text-align: left;
  }
  
  .form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
  }
  
  
  
  .form__button {
    margin-top: 20px;
  }
  
  .form__button-submit {
   
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #91623b;
    color: #fff;
    cursor: pointer;
  }
  
